html {
    background-image: url(images/background.png);
    cursor: url(images/cursor.png), auto;
}

a:hover {
    cursor: url(images/cursor.png), auto;
}

button:hover {
    cursor: url(images/cursor.png), auto;
}

.main_block {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    max-width: 800px;
    background-image: url(images/liquid.jpeg);
    border: 2px;
    display: block;
}

.menu_bar {
    background-color: #e1e1e1;
    border-bottom: 4px solid black;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    text-align: center;
    vertical-align: middle;
}

.content_block {
    border: 2px;
    border-bottom: 4px solid black;
    border-radius: 5px;
    background-color: white;
    padding: 25px;
    margin: 50px;
    max-width: 800px;
    text-align: center;
}

.content_block1 {
    border: 2px;
    width: auto;
    border-bottom: 4px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 25px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    transition: transform 1.5s;
}

.content_block1:hover {
    transform: scale(1.1);
}

#info {
    background-color: lightgray;
    width: 200px;
    position: relative;
    bottom: 50px;
    padding: 10px;
}

#info1 {
    background-color: lightgray;
}
#big {
    width: 50px;
    transition: width 0.5s;
}
#big:hover {
    width: 100px;
}

.content_block2 {
    border: 2px;
    width: auto;
    border-bottom: 4px solid black;
    border-radius: 5px;
    background-color: grey;
    padding: 25px;
    margin: 10px;
    text-align: center;
}

form {
    padding: 25px;
    line-height: 40px;
}

#border_image {
    border: 25px solid transparent;
    padding: 10px;
    border-image-source: url(images/bean1.png);
    border-image-repeat: round;
}